/*css重置开始*/
body{
    margin: 0;}
*{
    margin: 0;
    padding: 0;}
a{
    text-decoration: none;}
img{
    bottom: 0;}
li{
    list-style: none}
/*css重置结束*/
.wrapple{
    width: 1140px;
    background: #cccccc;
}