/*css重置开始*/
    body{
        margin: 0;}
    *{
        margin: 0;
        padding: 0;}
    a{
        text-decoration: 0;}
    img{
        bottom: 0;}
    li{
        list-style: none}
    /*css重置结束*/
