/*css重置开始*/
    body{
        margin: 0;}
    *{
        margin: 0;
        padding: 0;}
    a{
        text-decoration: none;}
    img{
        bottom: 0;}
    li{
        list-style: none}
    /*css重置结束*/
#header{
    background: url("../img/banner.jpg") no-repeat center center;
    height: 600px;
}
#login a:hover{
        text-decoration: underline;
}
#login a{
    color: #fff;
}
#login,#header h1{
    color: #fff;
    width: 380px;
}
#cart{
    background: #000;
    opacity: 0.5; /*透明度*/
    color: #ffffff;
    width: 260px;
    height: 30px;
    text-align: center;
    padding: 10px  20px;
    cursor: pointer; /*小手*/
    float: left;
    margin-top: 25px;
    line-height: 0px;
}
#header .float{
    float: left;
}
#header .wrapple{
    width: 1140px;
    height:100%;
    background: #cccccc;
    margin: 0 auto;
 }
#main-header{
    height: 100px;
    line-height: 100px;
}